{"filter":false,"title":".gitignore","tooltip":"/week10/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":8},"end":{"row":3,"column":8},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1573936319978,"hash":"47c59737391ef45d0a773fcc7013a037c2a2ad88"}