{"filter":false,"title":".gitignore","tooltip":"/week6/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":2,"column":0},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"91bca051b262cb56d453a7269073484d534c33bd","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1569104205333}